<!doctype html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Balloonatic Asylum</title>
    <link href="/css/custom.css" rel="stylesheet">
    <script source=script.js></script>
</head>
<body id="grid">

        <div class="header row">
            <div class="logo">
                <a href=".//">
                    <img class="img_logo" src="./images/ballon.jpg",alt="The Balloonatic Asylum" style="max-width:100%; height:auto;">
                </a>
            </div>
            <div class="company_name">
                The Balloonatic Asylum
            </div>

            <div class="menu_items">
                    <li><i><a href="./product_list">Products</a></i></li>
                    <li><a href="./about" >About</a></li>
                    <li><a href="./contact" >Contact Us</a></li>
                    <li><a href="./login" >Login</a></li>
                    <li><a href="./register" >Register</a></li>
            </div>
        </div>

        <div class="category row">
            <div class="row_2">
            <div class="category_list">
             
                    <div class="category_items">
                        <span class="category_name">Birthday Bouquets</span>
                    </div>
                    <div class="category_items">
                        <span  class="category_name">Balloony Occasions</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Build a Balloon Bouquets</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Decorating with Balloons</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Balloons in Bulk</span>
                        
                    </div>
                </div> 
            </div>
        </div>

        <div style="margin-top:150px; margin-left:600px"><p>404 | Page Not Found</p></div>
        

  
        
        <div class="row">
            <div class="footer row">
                <div class="content">
                    <img src="./images/ballon.jpg" alt="The Balloonatic Asylum">
                        <div class="foot">@ All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
  
</body>